html, * {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
} 

h1,p {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
}

button {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: grey;
  color: white;
}

#table-btn, #game-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


section{
  background: url("../img/table.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width: 100%;
}

.money {
  box-sizing: border-box;
  display: inline-block;
  margin: 5px 5px 50px 5px;
  cursor: pointer;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

 #chip5, #chip10, #chip100 {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

#chip5 {
  background-image: url("../img/5-chip.svg");
}

#chip10 {
  background-image: url("../img/10-chip.svg");
}
#chip100 {
  background-image: url("../img/100-chip.svg");
}

span {
  font-size: large;
  background-color: white;
}


