html, * {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
  background: url("../img/table.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width: 100%;
} 

h1 {
  text-align: center;
  background-color: black;
  color: white;
  padding: 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
}

button {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
  color: black;
}

button:hover {
  background-color: grey;
  color: white;
  
}

#result-status {
  background-color: black;
  color: white;

}

#table-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#chips {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

 #chip5, #chip10, #chip100 {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

#chip5 {
  background-image: url("../img/5-chip.svg");
}

#chip10 {
  background-image: url("../img/10-chip.svg");
}
#chip100 {
  background-image: url("../img/100-chip.svg");
}
#textbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

span {
  font-size: large;
  background-color: white;
}


