html, * {
  box-sizing: border-box;
}
 
html, body {
  height: 100%;
} 

h1,p {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  border: 4px dotted grey;
}

button {
  display: flex;
  justify-content: flex-start;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  color: grey;
  border: 1px solid grey;
  border-radius: 4px;
  outline: none;
}

button:hover {
  background-color: grey;
  color: white;
}


#table-btn, #game-btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}


section{
  background: url("../img/table.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width: 1500px;
}

.money {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
} 

 #chip5, #chip10, #chip100 {
  border-radius: 50%;
  height: auto;
  width: auto;
  float: left;
}
#chip5 {
  background-image: url("../img/5-chip.svg");
}
#chip10 {
  background-image: url("../img/10-chip.svg");
}
#chip100 {
  background-image: url("../img/100-chip.svg");
}

span {
  font-size: large;
  background-color: white;
}


